# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

# markup dir
markup

#ignore mocks.json file
mocks.json

src/service/logs/*.txt
src/express/logs/*.txt

src/express/tmp/*
!src/express/tmp/.gitkeep

src/express/public/img/articles/picture-*
